<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  

<h3>How tall is <%= @answer['name'] %>?</h3>

<p>Answer 1: <%= @answer['height'] %></p>
<p>Answer 2: <%= @answer2['height']%></p>
<p>Answer 3: <%= @answer3['height']%></p>


<h3>What year was <%= @answer['name'] %> born?</h3>

<p>Answer 1: <%= @answer['birth_year'] %></p>
<p>Answer 2: <%= @answer2['birth_year']%></p>
<p>Answer 3: <%= @answer3['birth_year']%></p>

<h3>What does <%= @answer['name'] %> weigh?</h3>

<p>Answer 1: <%= @answer['mass'] %></p>
<p>Answer 2: <%= @answer2['mass']%></p>
<p>Answer 3: <%= @answer3['mass']%></p>



</body>
</html>