<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <div class="quiz-awake">
  <%= image_tag ("the_force_awakens.png"), class: 'logo2' %>
</div>

<div id="yoda">
  <%= image_tag ("yoda.png"), class: 'yoda' %>
</div>

<div id="darth">
  <%= image_tag ("darth.png"), class: 'darth' %>
</div>

  <div class="question1">
    <h3>How tall is <%= @answer['name'] %>?</h3>
    <form action="">
      <input class="answers" type="radio"><p class="answers">Answer 1: <%= @answer['height'] %></p></br>

      <input class="answers" type="radio"><p class="answers">Answer 2: <%= @answer2['height']%></p></br>

      <input class="answers" type="radio"><p class="answers">Answer 3: <%= @answer3['height']%></p></br>

      <input type="submit" value="Submit">
    </form>
  </div>

<div class="question2">
<h3>What year was <%= @answer['name'] %> born?</h3>

<form action="">
  <input class="answers" type="radio"><p class="answers">Answer 1: <%= @answer['birth_year'] %></p></br>
  <input class="answers" type="radio"><p class="answers">Answer 2: <%= @answer2['birth_year']%></p></br>
  <input class="answers" type="radio"><p class="answers">Answer 3: <%= @answer3['birth_year']%></p></br>
  <input type="submit" value="Submit">
</form>
</div>

<div class="question3">
<h3>What does <%= @answer['name'] %> weigh?</h3>
<form action="">
  <input class="answers" type="radio"><p class="answers">Answer 1: <%= @answer['mass'] %></p></br>
  <input class="answers" type="radio"><p class="answers">Answer 2: <%= @answer2['mass']%></p></br>
  <input class="answers" type="radio"><p class="answers">Answer 3: <%= @answer3['mass']%></p></br>
<input type="submit" value="Submit">
</form>
</div>

</body>
</html>
