<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <div class="quiz-awake">
  <%= image_tag ("the_force_awakens.png"), class: 'logo2' %>
</div>

<div id="yoda">
  <%= image_tag ("yoda.png"), class: 'yoda' %>
</div>

<div id="darth">
  <%= image_tag ("darth.png"), class: 'darth' %>
</div>

  <div class="question1  answer-div">
    <h3>How tall is <%= @answer['name'] %>?</h3>
    <form class="something" action="">
      <input class="answers first-answer" type="radio" name="obi-wan"value="<%= @answer['height'] %>"><p class="answers">Answer 1: <%= @answer['height'] %></p></br>
      <input class="answers" type="radio" name="obi-wan"value="<%= @answer2['height']%>"><p class="answers">Answer 2: <%= @answer2['height']%></p></br>
      <input class="answers" type="radio" name="obi-wan"value="<%= @answer3['height']%>"><p class="answers">Answer 3: <%= @answer3['height']%></p></br>
      <a href="/questions/starships"><input type="submit" value="Submit"></a>
    </form>
  </div>

<div class="question2 answer-div">
<h3>What year was <%= @answer['name'] %> born?</h3>

<form class="something" action="">
  <input class="answers first-answer" type="radio" name="obi-wan"value="<%= @answer['birth_year']%>"><p class="answers">Answer 1: <%= @answer['birth_year'] %></p></br>
  <input class="answers" type="radio" name="obi-wan"value="<%= @answer2['birth_year']%>"><p class="answers">Answer 2: <%= @answer2['birth_year']%></p></br>
  <input class="answers" type="radio" name="obi-wan"value="<%= @answer3['birth_year']%>"><p class="answers">Answer 3: <%= @answer3['birth_year']%></p></br>
  <a href="/questions/planets"><input type="submit" value="Submit"></a>
</form>
</div>

<div class="question3 answer-div">
<h3>What does <%= @answer['name'] %> weigh?</h3>
<form class='something' action="">
  <input class="answers first-answer" type="radio" name="obi-wan"value="<%= @answer['mass']%>><p class="answers">Answer 1: <%= @answer['mass'] %>"</p></br>
  <input class="answers" type="radio" name="obi-wan"value="<%= @answer2['mass']%>"><p class="answers">Answer 2: <%= @answer2['mass']%></p></br>
  <input class="answers" type="radio" name="obi-wan"value="<%= @answer3['mass']%>"><p class="answers">Answer 3: <%= @answer3['mass']%></p></br>
  <a href="/questions/people"><input type="submit" value="Submit">
</form>
</div>

</body>
</html>
