<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  
<h2>What is the climate of <%= @answer['name'] %>?</h2>
<h3>Credits:  The cost of this starship new, in galactic credits.</h3>

<p>Answer 1: <%= @answer['climate'] %></p>
<p>Answer 2: <%= @answer2['climate']%></p>
<p>Answer 3: <%= @answer3['climate']%></p>


<h2>What is the oribtal period of <%= @answer['name'] %>?</h2>

<p>Answer 1: <%= @answer['orbital_period'] %></p>
<p>Answer 2: <%= @answer2['orbital_period']%></p>
<p>Answer 3: <%= @answer3['orbital_period']%></p>

<h2>What is the population of <%= @answer['name'] %>?</h2>


<p>Answer 1: <%= @answer['population'] %></p>
<p>Answer 2: <%= @answer2['population']%></p>
<p>Answer 3: <%= @answer3['population']%></p>



</body>
</html>