<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>


<h2>What is the language of the <%= @answer['name'] %>?</h2>

<p>Answer 1: <%= @answer['language'] %></p>
<p>Answer 2: <%= @answer2['language']%></p>
<p>Answer 3: <%= @answer3['language']%></p>


<h2>What is the average lifespan of the<%= @answer['name'] %>?</h2>

<p>Answer 1: <%= @answer['average_lifespan'] %></p>
<p>Answer 2: <%= @answer2['average_lifespan']%></p>
<p>Answer 3: <%= @answer3['average_lifespan']%></p>

<h2>What is the classification of the <%= @answer['name'] %>?</h2>


<p>Answer 1: <%= @answer['classification'] %></p>
<p>Answer 2: <%= @answer2['classification']%></p>
<p>Answer 3: <%= @answer3['classification']%></p>


  
</body>
</html>