<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

<button id="show-question">Click for Question</button>

<div class="question-container">
  

</div>



<h2>Who is the manufacturer of the <%= @answer['name'] %>?</h2>

<p>Answer 1: <%= @answer['manufacturer'] %></p>
<p>Answer 2: <%= @answer2['manufacturer']%></p>
<p>Answer 3: <%= @answer3['manufacturer']%></p>

<h2>How many megaliths can the <%= @answer['name'] %> travel in an hour?</h2>
<h3>A "Megalight" is a standard unit of distance and has never been defined before within the Star Wars universe.</h3>

<p>Answer 1: <%= @answer['MGLT'] %></p>
<p>Answer 2: <%= @answer2['MGLT']%></p>
<p>Answer 3: <%= @answer3['MGLT']%></p>

    
</body>
</html>