<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
      .question1 {
        display: none;
      }
      .question2 {
        display: none;
      }
      .question3 {
        display: none;
      }

    </style>
</head>
<body>

<div class="question1">
    
  <h2>How much does a <%= @answer['name'] %> cost?</h2> 
  <h3>Credits:  The cost of this starship new, in galactic credits.</h3>

  <p>Answer 1: <%= @answer['cost_in_credits'] %></p>
  <p>Answer 2: <%= @answer2['cost_in_credits']%></p>
  <p>Answer 3: <%= @answer3['cost_in_credits']%></p>

</div>
<div class="question2">
  
  <h2>Who is the manufacturer of the <%= @answer['name'] %>?</h2>

  <p>Answer 1: <%= @answer['manufacturer'] %></p>
  <p>Answer 2: <%= @answer2['manufacturer']%></p>
  <p>Answer 3: <%= @answer3['manufacturer']%></p>

</div>
<div class="question3">
  
  <h2>How many megaliths can the <%= @answer['name'] %> travel in an hour?</h2>
  <h3>A "Megalith" is a standard unit of distance and has never been defined before within the Star Wars universe.</h3>

  <p>Answer 1: <%= @answer['MGLT'] %></p>
  <p>Answer 2: <%= @answer2['MGLT']%></p>
  <p>Answer 3: <%= @answer3['MGLT']%></p>

</div>


    
</body>
</html>