<%= form_for(@dark) do |f| %>
  <% if @dark.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dark.errors.count, "error") %> prohibited this dark from being saved:</h2>

      <ul>
      <% @dark.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :dark_cum_score %><br>
    <%= f.number_field :dark_cum_score %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
