<p id="notice"><%= notice %></p>

<h1>Listing Darks</h1>

<table>
  <thead>
    <tr>
      <th>Dark cum score</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @darks.each do |dark| %>
      <tr>
        <td><%= dark.dark_cum_score %></td>
        <td><%= link_to 'Show', dark %></td>
        <td><%= link_to 'Edit', edit_dark_path(dark) %></td>
        <td><%= link_to 'Destroy', dark, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dark', new_dark_path %>
